.footer-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 67px;
  margin-right: 66px;
  background: black;
}
