

<div class="chart-styles">
    <div>
        <h1>Carbon Emissions</h1>
        <div id="bar">
        </div>
        <div class="legend">
            <div><span class="dot low-color"></span> <span>Low</span></div>
            <div>
              <span class="dot high-color" style="background: red"></span>
              <span>High</span>
            </div>
          </div>
    </div>
  
  <div class="cumulative-container">
    <div class="text-description">
      <div class="content-font">Your Cumulative Emissions are</div>
      <div class="value-font">{{ cumulativeEmissions }} tons CO<sub>2</sub>e</div>
      <div class="content-font">that is equivalent to</div>
    </div>
    <div class="image-container">
      <div>
        <svg
          class="MuiSvgIcon-root makeStyles-icon-60 airplane-image"
          focusable="false"
          viewBox="0 0 24 24"
          aria-hidden="true"
          data-testid="treesIcon"
          style="fill: green"
        >
          <path
            d="M6.05 8.05c-2.73 2.73-2.73 7.15-.02 9.88 1.47-3.4 4.09-6.24 7.36-7.93-2.77 2.34-4.71 5.61-5.39 9.32 2.6 1.23 5.8.78 7.95-1.37C19.43 14.47 20 4 20 4S9.53 4.57 6.05 8.05z"
          ></path>
        </svg>
      </div>
      <div style="padding-left: 15px; line-height: 25px">
        
        <div class="value-color">{{ 40 * cumulativeEmissions }}</div>
        <div> of trees should be planted</div>
      </div>
    </div>
  </div>
</div>
